# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
*.ext2

# Catalog
catalog/*
!catalog/.gitkeep

# Target assets
targets/*/downloads/
targets/*/unpacked/
targets/*/current

# Node
node_modules/

# Personal
NOTES
screenshots/
